<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>nosher.net</title>
        <meta name="description" content="{{ page_description }}" />
        <meta name="google-site-verification" content="ogTinvCVb2govnY2IgopNfX1pYDqJLoRQTjGO3SkqvU" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{{ staticServer }}/nosher2.css" title="default" />
        <link rel="shortcut icon" href="https://static.nosher.net/images/nn.png" />
        {% block script %}{% endblock %}
    </head>
    <body class="home">
        <section id="home">
            <header>nosher.net</header>
            <content>
                <main>
                <section id="sidebyside">
                    <photo>
                        <div id="minigrid">
                        {% for album in this_month %}
                            <a href="/images/{{album.1}}"><img class="hthumb" src="{{ staticServer }}/images/{{ album.0 }}" alt=""/></a>
                        {% endfor %}
                        </div>
                    </photo>
                    <list>
                        <h1>Recently-added/updated photo albums:</h1>
                        <ul class="homelist">
                        {% for album in latest_albums %}
                            <li><a href="/images/{{ album.path }}/">{{ album.title|safe }}</a></li>
                        {% endfor %}
                        <li><a href="/images/">more photo albums...</a></li>
                        </ul>
                    </list>    
                </section>
                <h3>More things:</h3>
                <div class="grid">
                    <div class="homegriditem"><a href="/images/">A Life in Photos: 1980 - {{ ""|get_now }} and more</a></div>
                    <div class="homegriditem"><a href="/archives/computers">A history of the microcomputer industry in 300 adverts</a></div>
                    <div class="homegriditem"><a href="/archives/computers/adve_002#fear">Fear of technology: Visions of a computer future at the end of the 1970s</a></div>
                    <div class="homegriditem"><a href="/content/ajo/"><p>The Arnewood Jazz Orchestra Archive</p></a></div>
                    <div class="homegriditem"><a href="/content/raf69th/">The RAF Halton 69th Entry Archive</a></div>
                    <div class="homegriditem"><a href="/content/saxonhorse">The Saxon Horse burial, Eriswell, Lakenheath</a></div>
                    <div class="homegriditem"><a href="/content/brandonflint/">An 1887 history of flint knapping in Brandon, Suffolk</a></div>
                    <div class="homegriditem"><a href="/content/recipes">Family recipes</a></div>
                    <div class="homegriditem">
                        <search>
                        <form action="/search" method="get" title="Search nosher.net">
                            <label for="query" class="visuallyhidden">Search:</label>
                            <input id="query" type="text" value="{{ query }}" name="q" maxlength="100" class="stext" required />
                            <button type="submit" class="sbutton">Search</button>
                        </form>
                        </search>
                    </div>
                </div>
                </main>
            </content>
            <footer>&copy; nosher.net 1999-{{ ""|get_now }}</footer>
            <space></space>
        </section>
    </body>
</html>
