/* vollkorn-regular - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'),
       url('https://static.nosher.net/fonts/vollkorn-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://static.nosher.net/fonts/vollkorn-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'droid_serifregular';
    src: url('https://static.nosher.net/fonts/DroidSerif-Regular-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: SegoeUILight;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: lighter;
}
body {
  font-family: droid_serifregular, Vollkorn; 
  width: 100vw;
  font-size: 1rem;
  font-color: #333;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url('https://static.nosher.net/graphics/bg.png');
  overflow-x: hidden;
}

@media screen and (max-width: 840px) {
    body {
        font-size: 10pt;
    }
}

.body {
  display: grid;
  grid-template-rows: 60px auto 80px;
  grid-template-columns: minmax(225px, 1.8fr) 10fr;
  grid-template-areas: "header header"
                      "nav    content"
                      "footer    footer";
}
@media screen and (max-width: 840px) {
    .body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 60px auto auto auto 60px;
        grid-template-areas: "header"
                      "navlite"
                      "content"
                      "nav"
                      "footer";
    }
}

#home {
  display: grid;
  grid-template-rows: 60px auto 50px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: ". header ."
                      ".    content   ."
                      ".    footer    .";
}
@media screen and (max-width: 840px) {
        #home {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 50px auto 40px;
          grid-template-areas: "header"
                              "content"
                              "footer";
        }
}

#sidebyside {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-areas: "photo list"
}
#sidebyside > photo {
    grid-area: photo;
}
#sidebyside > list {
    grid-area: list;
}
#sidebyside > list h1 {
    margin-top: 8px;
}
#sidebyside > photo img {
    width: 220px;
    margin: 6px 8px 8px 0;
}
@media screen and (max-width: 840px) {
        #sidebyside {
          margin-top: 20px;
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 190px auto;
          grid-template-areas: "photo"
                               " list";
        }
        #sidebyside > photo {
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
        }
        #sidebyside > list {
        }
        #sidebyside > list ul {
            margin-left: -12px;
        }
        #sidebyside > list ul li {
            margin: 0 12px 12px 0;
        }
        #sidebyside > list h1,#sidebyside > list h3 {
            margin-top: 8px;
            padding: 8px 0 8px 4px;
        }
        #sidebyside > photo img {
            margin: 0 auto 0 auto;
        }
}

#yearindex {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-gap: 20px;
  font-size: 80%;
}
#yearindex img {
    width: 80px;
}

#home > header, header {
  background-color: #5d6f9b;
  font-family: 'Lobster', cursive; color: #fff; font-size: 240%; text-shadow:3px 2px 2px #333; padding-right: 10px;
  grid-area: header;
}
#home > header p, header p {
    margin: 0 auto 0 auto;
    text-align: center;
}
#home > content {
  grid-area: content;
}
#home > footer, footer {
  background-color: #5d6f9b;
  color: #bcc8e2;
  padding: 8px;
  vertical-align: baseline;
  grid-area: footer;
}
#home > footer p, footer p {
    text-align: right;
    margin: 4px 20px 0 0;
}
#home .splash {
    float: left;
    display: inline-block;
    width: 200px;
    margin: 0 40px 0 0;
}
hr {
    border: 0px;
    border-top: 1px solid #808080;
}

nav, navbottom {
  background-color: #939cb0;
  grid-area: nav;
  padding: 0
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li {
    font-family: 'SegoeUILight', 'Arimo', sans-serif;
    font-size: 110%;
    line-height: 1.1em; 
    padding: 12px;
    border-bottom: 0.5px solid #838ca0;
}
@media screen and (max-width: 840px) {
    nav ul li{
        padding: 6px;
    border-bottom: 0.5px solid #eee;
    }
}
nav ul li p {
    margin: 0;
}
nav ul li a:link, nav ul li a:visited {
    color: #303090;
}
@media screen and (max-width: 840px) {
    nav ul li {
        line-height: 1.8em; 
    }
}
ul.index {
    margin: 8px 8px 20px 20px;
    padding: 0;
}
ul.index li {
    margin-bottom: 4px;
}

.nav, .navbottom {
  clear: left;
  font-size: 90%;
  padding: 4px;
  background-color: #eeeeee;
}
.navbottom {
  clear: left;
  margin-top: 20px !important;
}
.navlite {
    visibility: hidden;
}
@media screen and (max-width: 840px) {
        .navlite {
            visibility: visible;
            font-family: 'SegoeUILight', 'Arimo', sans-serif;
            font-size: 110%;
            padding: 6px;
        }
        .navlite a, .navlit a:visited {
            margin: 2px;
            color: #000040;
        }

}

main {
  padding: 16px 16px 0 20px;
  grid-area: content;
}
@media screen and (max-width: 840px) {
    main {
        padding: 0;
    }
    main p {
        margin: 0 4px 8px 4px;
    }
}
h1 {
  display: inline-block;
  font-family: 'SegoeUILight', 'Arimo', sans-serif;
  text-shadow: rgba(30, 30, 30, 0.2) 3px 2px 3px;
  border: 1px solid #808080;
  background: #9b8443;
  color: #eeeeee;
  padding: 4px 8px 8px 8px;
  border-radius: 4px;
  margin: 4px 12px 20px 0;
  font-size: 180%;
}
h2, h3 {
    font-family: 'SegoeUILight', 'Arimo', sans-serif;
    color: #9b8443; 
    margin: 22px 0 8px 0;
    font-size: 180%;
}
h3 {
    font-size: 140%;
}
p {
    margin: 0 0.75em 0.75em 0;

}

@media screen and (max-width: 840px) {
    h1 {
        display: block;
        margin: 0;
        font-size: 120%;
        padding: 4px;
        border-radius: 0;
    }
    h2 {
        font-size: 120%;
    }
    h3 {
        font-size: 110%;
    }
}

.hilite {
    background-color: #00ff00;
}
.catalogue{ 
    list-style: none; 
    padding-left: 8px;
    margin: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 4;
}
@media screen and (max-width: 840px) {
    .catalogue{ 
        column-count: 2;
    }
}
.catalogue li {
  font-size: 90%; 
  margin-bottom: 4px;
}
.catalogue li::before {
    content: "· ";
}
.thumbnails {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 30px;
}
article.thumb p {
  font-size: 85%;
  color: #606060;
}
@media screen and (max-width: 840px) {
    .thumbnails {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-gap: 12px;
        padding: 4px;
    }
    article.thumb p {
        font-size: 75%;
    }
}


.tiny {
  width: 100%;
  margin: 0px;
}

article.thumb img {
  width: 100%;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
}

.search img {
    width: 120px;
}
.search p {
    font-size: 75%;
    color: #808080;
    margin: 0;
}
@media screen and (max-width: 840px) {
    .search img {
        width: 80px;
    }
}

a {
  text-decoration: none;
}

a:visited {
  color: #000080;
}

a:link {
  color: #0000aa;
}
a:hover {
  text-decoration: underline;
}


.intro {
  margin: 0 0 12px 0;
}
.images_intro {
    padding: 2px 20px 8px 2px;

}
@media screen and (max-width: 840px) {
    .intro {
        margin: 4px;
    }
}

ul.albums {
  line-height: 1.4;
}

#viewer {
    background-color: rgba(0, 0, 0, 0.93);
    position: fixed;
    padding: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}
@media screen and (max-width: 840px) {
    #viewer {
        padding: 0;
    }
}
#main {
    padding: 20px 0 0 0;
    width: 100%;
    text-align: center;
}
#main img {
    background-color: #ddd;
    height: calc(100vh - 170px);
    margin: 0 auto 0 auto;
}

#viewer {
    display: none;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

#strip {
  display: grid;
  grid-template-rows: 75px;
  grid-template-columns: repeat(auto-fill, minmax(70px, 70px));
  grid-gap: 4px;
  width: 9000px;
}
#fourbox {
  display: grid;
  grid-template-rows: 60px 60px;
  grid-template-columns: 60px 60px;
  width: auto;
  margin-bottom: 11px;
}

#fourbox img {
    width: 60px;
}
@media screen and (max-width: 840px) {
 
        #fourbox {
          grid-template-rows: 40px 40px;
          grid-template-columns: 40px 40px;
          width: auto;
          margin-bottom: 11px;
        }

        #fourbox img {
            width: 40px;
        }
}

#strip div img {
  width: 66px; 
  height: 66px;
}

#strip div.hilite, #strip div.lolite {
  width: 66px;
  height: 8px;
}
#strip div.hilite {
  background-color: #800000;
}
#caption {
    margin: 0 0 8px 0;
    font-size: 80%;
    color: #bbbbbb;
}
#caption a:link {
    color: #808080;
}

#fullsize { padding: 3px; background-color: #dddddd; }
@media screen and (max-width: 840px) {
    #fullsize { 
        max-width: 85%;
        margin: 0 auto 0 auto;
    }
}
.nextprev {
    margin: 0 0 18px 0;
}
.nextprev a {
    font-size: 90%;
    color: #808080;
}
@media screen and (max-width: 840px) {
    .nextprev {
        margin: 4px 4px 12px 4px;
    }
}
#close {
    position: absolute;
    right: 10px;
    top: 80px;
    font-size: 180%;
    color: #dddddd;
    padding: 20px;
    text-shadow:0px 0px 12px #111
}

.stext {
    height: 22px;
    margin: 0;
    padding: 2px;
    border: none;
    box-sizing: border-box;
    background-color: #dddddd;
}
.sbutton {
    height: 22px;
    margin: 0;
    box-sizing: border-box;
    background-color: #5d6f9b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
@media screen and (max-width: 840px) {
    .stext, .sbutton {
        height: 30px;
    }
}


.archives {
  display: grid;
  grid-auto-rows: minmax(100px, auto));
  grid-gap: 20px;
}

.archiveitem {
  margin: 0 0 4px 0;
  display: grid;
  grid-template-columns: 130px auto;
  grid-gap: 8px;
  grid-template-areas:
     "thumb description";
}
.archivethumb {grid-area: thumb; width: 120px; border: 1px solid #bbbbbb; margin: 6px 0 0 0;}
.archivedescription {grid-area: description; padding: 0; margin: 0;}
.archivedescription .year {font-weight: bold; color: #505050; margin: 0; font-size: 90%;}
.archivedescription .title {font-weight: bold; color: #505050; margin: 0; }
.archivedescription .summary {font-size: 90%; margin: 4px 0 0 0;}
.archivedescription h3 {margin: 0px; }
@media screen and (max-width: 840px) {
    .archivethumb {
        width: 75px;
        margin-left: 4px;
    }
    .archives {
        grid-auto-rows: minmax(80px, auto));
    }
    .archiveitem {
        grid-template-columns: 80px auto;
    }
}

.advert {
    color: #303030;
    text-align: justify;
    color: #333;
    text-justify: inter-word;
    padding: 0;
    margin: 0;
}
.advert img { 
    border: 1px solid #505050; 
    margin-bottom: 22px;
    box-shadow: 3px 3px 6px #888888;
}
.advert h3 {
    margin: 8px 0 8px 0;
}
.liner {
    padding-right: 16px;
}
.liner p {
    margin: 0 0 16px 0;
}
@media screen and (max-width: 840px) {
    .advert img {
        width: 95%;
        margin: 0 0 0 4px;
    }
    .advert p {
        margin: 0 8px 16px 4px;
    }
    .advert p.nav {
        margin: 0;
    }
    .advert h3, .advert h2 {
        margin: 8px 4px;
    }
    .liner {
        padding: 0;
    }
}
p.navlink {
    font-size: 80%;
    line-height: 1.3;
    font-family: 'SegoeUILight';
    margin-top: 8px;
}
@media screen and (max-width: 840px) {
    p.navlink {
        font-size: 100%;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }
}
p.navlink a, p.navlink a span {
    color: #202020 !important;
    text-decoration: none !important;
}
p.navlink a span {
    color: #505050 !important;
}
.copy {
    margin-top: 1em;
    color: #606060; 
    font-size: 80%; 
}
@media screen and (max-width: 840px) {
    .copy {
        margin: 12px 4px 12px 4px;
    }
}
.sources {
  font-size: 85%;
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 2px;
}
.source {
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-areas: "sourcepos sourcetext"
}
@media screen and (max-width: 840px) {
    .sources {
        margin: 0 4px;
    }
}
sup.src {
   font-family: georgia, arial, helvetica;
   vertical-align: baseline;
   position: relative;
   top: -0.6em;
   color: #940;
   font-size: 9pt;
   margin-left: 0.1em;
   margin-right: 0.1em;
}
sup.src a {
   color: #940;
}
.sourcepos {
  color: #303030;
  grid-area: sourcepos;
}
.sourcetext {
  color: #808080;
  grid-area: sourcetext;
}
.extra, .extra_left {
    border-radius: 12px;
    background-color: #eeeeee;
    padding: 10px 7px 10px 10px;
    text-align: left;
    font-size: 80%;
    box-shadow: 2px 6px 8px #aaaaaa;
}
.extra img, .extra_left img {
    border-radius: 6px;
}
.extra {
    margin: 0 0 10px 30px; 
}
.extra_left {
    margin: 0 30px 10px 0; 
}
@media screen and (max-width: 840px) {
    .extra, .extra_left {
        display: block;
        float: none !important;
        width: 95.5% !important;
        margin: 8px 0 !important;
        padding: 8px !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        text-align: center; 
        clear: all !important;
    }
    .extra img, .extra_left img {
        border-radius: 0;
        margin 0 auto 0 auto;
    }
}
.sourcetext a {color: #808080; }

.saxon {
    margin-right: 8px;
}
.saxon tr td {
    padding: 0 4px 20px 0;
    vertical-align: top;
}
.content {
    width: 99%;
}
.content p {
    text-align: justify;
}
@media screen and (max-width: 840px) {
    .content p {
        padding: 4px 8px 4px 4px;
    }
}
.shlinx li {
    margin-bottom: 8px;
}


.content_medium, .content_large {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 12px;
    box-shadow: 2px 6px 8px #aaaaaa;
    padding: 8px;
    font-size: 80%;
    color: #444;
    text-align: center;
}
.content_medium {
    width: 400px;
}
.content_large {
    width: 600px;
}
.content_medium img {
    width: 395px;
}
.content_large img {
    width: 580px;
}
.left {
    margin: 4px 12px 8px 0;
    float: left;
}
.right {
    margin: 4px 2px 8px 12px;
    float: right;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.griditem, .homegriditem {
  border-radius: 4px;
  background-color: #1d919b;
  color: #fff;
  margin: 5px;
  padding: 10px;
  font-size: 120%;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 840px) {
    .grid {
        grid-template-columns: auto;
    }
    .griditem {
        width: 90%;
    }
    .griditem audio {
        width: 90%;
    }
}
.griditem a, .homegriditem a {
    color: #fff;
}
.griditem audio {
    margin-top: 12px;
}
.homegriditem {
    font-size: 100%;
}

