{% extends "base.html" %}

{% block content %}
<h1>{{album.title}}</h1>
<p class="intro">{{intro|safe}}</p>
{% if next or prev %}
<p class="nextprev">{% if next %}<a href="/images/{{ next.path }}">next album: {{ next.title }}</a><br />{% endif %}{% if prev %}<a href="/images/{{ prev.path }}">previous album: {{ prev.title }}</a>{% endif %}
</p>
{% endif %}

<script>
  {% if next %}
  var nextAlbum = "{{ next.path }}";
  {% endif %}
  {% if prev %}
  var prevAlbum = "{{ prev.path }}";
  {% endif %}
</script>

<section class="thumbnails">
{% for im in images %}
    <article class="thumb">
	    <img src="{{ url }}/{{ im.thumb }}-s.jpg" onclick="showViewer({{ forloop.counter|add:"-1" }})"/>
        <p>{{ im.caption|safe }}</p>
    </article>{% endfor %}
</section>

<p class="hint">Hint: you can use the left and right cursor keys to navigate between albums, and between photos when in the photo viewer</p>

<script type="text/javascript">

    var base = "{{ url }}";
    var imgCount = {{ images|length }};
    var pos = 0;
    var images = [];
    var captions = [];
{% for im in images %}    
    images[{{ forloop.counter|add:"-1" }}] = "{{ im.thumb }}";
    captions[{{ forloop.counter|add:"-1" }}] = "{{ im.caption|safe }}";
{% endfor %}
</script>
<div id="viewer">
    <div id="wrapper">
      <section id="strip">
{% for im in images %}
        <div>
	      <img id="{{ forloop.counter }}-img" src="{{ url }}/{{ im.thumb }}-s.jpg" onclick="showImage({{forloop.counter|add:"-1"}});" />{% if im == images.0 %}
          <div id="{{ forloop.counter }}-marker" class="hilite"></div> {% else %}
          <div id="{{ forloop.counter }}-marker" class="lolite"></div> {% endif %}
        </div> {% endfor %}
      </section>
    </div>
    <div id="close" onclick='hideViewer();'>×</div>
    <div id="main">
        <img id="fullsize" src="" draggable="true"/>
        <p id="caption">{{images.0.caption|safe}}</p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://static.nosher.net/js/touchswipe.js"
        integrity="sha256-ztqZnG9YzCVSrlndn420J5Tq0jopsi6M+F8raET12LM="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var main = $('#fullsize');
    main.swipe( {
             threshold: 75,
             swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
                if (direction == "right" && $("#viewer").is(":visible") && pos > 0) {
                    showImage(--pos);
                } else if (direction == "left" && $("#viewer").is(":visible") && pos < imgCount - 1) {
                    showImage(++pos);
                } 
             }
    });
    $(window).keydown(function(event) {
        if (event.which == 37) {
            // cursor left
            if ($("#viewer").is(":visible") && pos > 0) {
                goto(--pos, event);
            } else if (prevAlbum !== undefined) {
                window.location.href = window.location.protocol + "//" + window.location.hostname + "/images/" + prevAlbum; 
            }
        } else if (event.which == 39) {
            // cursor right
            if ($("#viewer").is(":visible") && pos < imgCount - 1) {
                goto(++pos, event);
            } else if (nextAlbum !== undefined) {
                window.location.href = window.location.protocol + "//" + window.location.hostname + "/images/" + nextAlbum; 
            }
        } else if (event.which == 35) {
            // end
            goto(imgCount - 1, event);
        } else if (event.which == 36) {
            // home
            goto(0, event);
        } else if (event.which == 38) {
            // cursor up
            $("#main").animate({scrollTop: 0});
        } else if (event.which == 40) {
            // cursor down 
            $("#main").animate({scrollTop: 9999});
        } else if (event.which == 88) {
            hideViewer();
        } else {
            //console.log(event.which);
        }
    });

    function hideViewer() {
        $("#viewer").hide(300, function() {
            main.attr('src', '');
        });
    }

    function showViewer(pos) {
        $("#viewer").show(300);
        showImage(pos);
    }

    function goto(pos, event) {
            event.preventDefault();
            showImage(pos);
    }

    function showImage(position) {
        pos = position; 
        console.log("showing " + pos);
        main.prop("title", images[pos]);
        $("#caption").html(captions[pos]);
        for (var i = 0; i < imgCount; i++) {
            elem = document.getElementById((i + 1) + "-marker");
            elem.className = "lolite";
        }
        elem = document.getElementById((pos + 1) + "-marker");
        elem.className = "hilite";
        var thumb = 74;
        var half = $(window).width() / 2 - thumb;
        var newpos = pos * thumb;
        if (newpos > half) {
            $("#wrapper").scrollLeft(pos * thumb - half - thumb / 4);
        } else if (newpos < half) {
            $("#wrapper").scrollLeft(0);
        }
        main.hide();
        var imgUrl = base + "/" + images[pos] + "-m.jpg"
        main.attr("src", imgUrl).on("load", function() {
            
            var inMemory = new Image();
            inMemory.onload = function() {
                width = this.width;
                height = this.height;
                if (height > 900) {
                    // for extra-large images, scale down by half as these are intended as
                    // hi-res images for high-density displays
                    width = width / 2;
                    height = height / 2;
                }
                if (width > $(window).width()) {
                    // we're probably in a width-constrained situation
                    dWidth = $(window).width() * 0.95;
                    dHeight = dWidth * height / width; 
                    main.css('max-width', dWidth + 'px')
                    main.css('max-height', dHeight + 'px')
                } else {
                    main.css('max-width', width + 'px')
                    main.css('max-height', height + 'px')
                }
                main.fadeIn(100);
            };
            inMemory.src = main.attr("src");
            
        });
    }
    if ({{ index }} > -1) {
        showViewer({{index}});
    }
</script>
{% endblock %}


