{% extends "base.html" %}

{% block content %}
<div class="album">
<h1>{{album.title}}</h1>
<p class="intro">{{intro|safe}}</p>
{% if spotify %}<p><b>Soundtrack for this album:</b></p>
<iframe src="https://open.spotify.com/embed/{{ spotify }}" class="music" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>{% endif %}
{% if next or prev %}<p class="nextprev">{% if next %}<a href="/images/{{ next.path }}">next album: {{ next.title }}</a><br />{% endif %}{% if prev %}<a href="/images/{{ prev.path }}">previous album: {{ prev.title }}</a>{% endif %}</p>
{% endif %}
<script>
  {% if next %}var nextAlbum = "{{ next.path }}";{% endif %}
  {% if prev %}var prevAlbum = "{{ prev.path }}";{% endif %}
    var base = "{{ url }}";
    var imgCount = {{ images|length }};
    var pos = 0;
    var images = [];
    var ids = [];
    var captions = [];
    var dimensions = {};
{% for im in images %}
    images[{{ forloop.counter|add:"-1" }}] = "{{ im.thumb }}";
    ids[{{ forloop.counter|add:"-1" }}] = "{{ im.id }}";
    captions[{{ forloop.counter|add:"-1" }}] = "{{ im.caption|safe }}"; {% endfor %}
{% for im in dimensions %}
    dimensions["{{ im.name }}"] = "{{ im.ratio }}"; {% endfor %}
</script>
<section class="thumbnails">
{% for im in images %}
    <article class="thumb">
	    <a href="/images/nojs?year={{ year }}&path={{ path }}&thumb={{ forloop.counter|add:'-1' }}">{% if is_webp == "true" and accept_webp == "true" %}<img src="{{ url }}/{{ im.thumb }}-s.webp"{% elif is_webp == "true" and accept_webp == "false" %}<img src="https://static.nosher.net/cdn/img2?i={{ url }}/{{ im.thumb }}-s.webp&t=jpg"{% else %}<img src="{{ url }}/{{ im.thumb }}-s.jpg"{% endif %} alt="{{ im.caption|safe }}, {{ title }}" onclick="showViewer({{ forloop.counter|add:'-1' }}); return false;" /></a>
        <p>{{ im.caption|safe }}</p>
    </article>{% endfor %}
</section>
<p class="hint">Hint: you can use the left and right cursor keys to navigate between albums, and between photos when in the photo viewer</p>
<!-- Desktop photo viewer -->
<div id="viewer">
    <div id="viewwindow">
        <photoview>
            <img id="fullsize" src="" draggable="true" />
        </photoview>
        <capregion><div id="caption">{{images.0.caption|safe}}</div></capregion>
        <photoclose><img src="{{ staticServer }}/graphics/close.webp" onclick='hideViewer();' /></photoclose>
    </div>
    <div id="wrapper">
        <section id="strip">
            {% for im in images %}<div><img id="{{ forloop.counter }}-img" src={% if is_webp == "true" and accept_webp == "true" %}"{{ url }}/{{ im.thumb }}-s.webp"{% elif is_webp == "true" and accept_webp == "false" %}"https://static.nosher.net/cdn/img2?i={{ url }}/{{ im.thumb }}-s.webp&t=jpg"{% else %}"{{ url }}/{{ im.thumb }}-s.jpg" {% endif %} onclick="showImage({{forloop.counter|add:"-1"}});" />{% if im == images.0 %}<div id="{{ forloop.counter }}-marker" class="hilite"></div> {% else %}<div id="{{ forloop.counter }}-marker" class="lolite"></div> {% endif %}</div>{% endfor %}
        </section>
    </div>
</div>
<!-- Mobile photo viewer -->
<div id="mobile_viewer">{% for im in images %}    
    <div class="mphoto" id="mphoto_{{ forloop.counter|add:"-1" }}">
        <img src="" id="{{ im.id }}" height="{{ im.height }}"/>
        <p>{{ im.caption|safe }}</p>
    </div>{% endfor %}
</div>
</div><!-- end of class=advert block -->
<script src="https://static.nosher.net/js/touchswipe.js"
        integrity="sha256-ztqZnG9YzCVSrlndn420J5Tq0jopsi6M+F8raET12LM="
        crossorigin="anonymous"></script>
<script>
    var main = $('#fullsize');
    var isLandscape = false;
    var isMobile = false;
    var width = height = 0;
    var index = {{index}};
    var webp = {{is_webp}};
    var tail;
    if (webp) {
        tail = "webp";
    } else {
        tail = "jpg";
    }

    window.addEventListener("load", function() {
        width = $(window).width();
        height = $(window).height()
        isLandscape = width > height;
        isMobile = width < 1000 // see nosher2.css for media rules defining a mobile view
        console.log("MOBILE", isMobile)
        for (i = 0; i < imgCount; i++) {
            var ratio = dimensions[ids[i]];
            var iheight = Math.floor(width * ratio);
            $("#" + ids[i]).height(iheight);
            console.log("set height of #" + ids[i], "to", iheight);
        };
        if (index > -1) {
            setTimeout(showViewer(index), 1500);
        };
    });
    
    main.swipe( {
             threshold: 75,
             swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
                if (direction == "right" && $("#viewer").is(":visible") && pos > 0) {
                    showImage(--pos);
                } else if (direction == "left" && $("#viewer").is(":visible") && pos < imgCount - 1) {
                    showImage(++pos);
                } 
             }
    });
    $(window).keydown(function(event) {
        if (event.which == 37) {
            // cursor left
            if ($("#viewer").is(":visible") && pos > 0) {
                goto(--pos, event);
            } else if (prevAlbum !== undefined) {
                window.location.href = window.location.protocol + "//" + window.location.hostname + (window.location.hostname != "nosher.net" ? ":8010" : "") + "/images/" + prevAlbum; 
            }
        } else if (event.which == 39 || event.which == 32) {
            // cursor right or spacebar
            if ($("#viewer").is(":visible") && pos < imgCount - 1) {
                goto(++pos, event);
            } else if (nextAlbum !== undefined) {
                window.location.href = window.location.protocol + "//" + window.location.hostname + (window.location.hostname != "nosher.net" ? ":8010" : "") + "/images/" + nextAlbum; 
            }
        } else if (event.which == 35) {
            // end
            goto(imgCount - 1, event);
        } else if (event.which == 38) {
            // cursor up
            $("#main").animate({scrollTop: 0});
        } else if (event.which == 40) {
            // cursor down 
            $("#main").animate({scrollTop: 9999});
        } else if (event.which == 88) {
            hideViewer();
        } else {
            console.log(event.which);
        }
    });

    function hideViewer() {
        if (isMobile) {
            $("#mobile_viewer").hide(300, function() {})
        } else {
            $("#viewer").hide(300, function() {
                main.attr('src', '');
            });
    
        }
    }

    function showViewer(pos) {
        if (isMobile) {
            $("#mobile_viewer").show(300);
        } else {
            $("#viewer").show(300);
        }
        showImage(pos);
    }

    function goto(pos, event) {
            event.preventDefault();
            showImage(pos);
    }

    function showImage(position) {
        pos = position; 
        console.log("showing " + pos);
        if (isMobile) {
            showMobileImage(position);
        } else {
            showDesktopImage(position);
        }
    }
    
    async function showMobileImage(position) {
        orientationAwareImage(position);
        for (var next = position + 1; next < imgCount; next++) {
            await orientationAwareImage(next);
        }
        for (var prev = position - 1; prev > -1; prev--) {
            await orientationAwareImage(prev);
        }
    }

    function orientationAwareImage(position) {
        var frame = $("#mphoto_" + position);
        var url = base + "/" + images[position] + "-m." + tail;
        var img = frame.find("img");
        img.attr("src", url).on("load", function() {
            var lwid = img.width();
            var lheight = img.height();
            if (isLandscape) {
                img.attr("height", height);
                img.attr("width", (lwid / lheight) * height);
            } else {
                console.log("height", lheight);
                img.attr("width", width);
                img.attr("height", (lheight / lwid) * width);
            }
            console.log(isLandscape);
            return "done";
        });

    }

    function showDesktopImage(position) {
        main.prop("title", images[pos] + ", {{year}}, " + captions[pos]);
        $("#caption").html(captions[pos] + "<span class=\"closetext\" onclick='hideViewer();'> (X) </span>");
        for (var i = 0; i < imgCount; i++) {
            elem = document.getElementById((i + 1) + "-marker");
            elem.className = "lolite";
        }
        elem = document.getElementById((pos + 1) + "-marker");
        elem.className = "hilite";
        var thumb = 74;
        var half = $(window).width() / 2 - thumb;
        var newpos = pos * thumb;
        if (newpos > half) {
            $("#wrapper").scrollLeft(pos * thumb - half - thumb / 4);
        } else if (newpos < half) {
            $("#wrapper").scrollLeft(0);
        }
        main.hide();
        var imgUrl = base + "/" + images[pos] + "-m." + tail
        main.attr("alt", "{{title}}, " + captions[pos]);
        main.attr("src", imgUrl).on("load", function() {
            
            var inMemory = new Image();
            inMemory.onload = function() {
                width = this.width;
                height = this.height;
                if (height > 1200 || width > 1200) {
                    // for extra-large images, scale down by half as these are intended as
                    // hi-res images for high-density displays
                    width = width / 2;
                    height = height / 2;
                }
                if (width > $(window).width()) {
                    // we're probably in a width-constrained situation
                    dWidth = $(window).width() * 0.8;
                    dHeight = dWidth * height / width; 
                    main.css('max-width', dWidth + 'px')
                    main.css('max-height', dHeight + 'px')
                    console.log("dwidth ", dWidth)
                } else {
                    main.css('max-width', width + 'px')
                    main.css('max-height', height + 'px')
                    console.log("width ", width)
                }
                main.fadeIn(100);
            };
            inMemory.src = main.attr("src");
        });
    }
</script>
{% endblock %}


