{% extends "base.html" %}

{% block content %}
<div class="album">
<h1>{{title}}</h1>
<p class="intro">{{intro|safe}}</p>
{% if spotify %}<p><b>Soundtrack for this album:</b></p>
<iframe src="https://open.spotify.com/embed/{{ spotify }}" class="music" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>{% endif %}
{% if next or prev %}<p class="nextprev">{% if next %}<a href="/images/{{ next.path }}">next album: {{ next.title }}</a><br />{% endif %}{% if prev %}<a href="/images/{{ prev.path }}">previous album: {{ prev.title }}</a>{% endif %}</p>
{% endif %}

<!-- Global scope: Django to JS -->
<script>
    {% if next %}var nextAlbum = "{{ next.path }}";{% endif %}
    {% if prev %}var prevAlbum = "{{ prev.path }}";{% endif %}
    var base = "{{ url }}";
    var imgCount = {{ images|length }};
    var index = {{index}};
    var pos = 0;

    var images = [
        {% for im in images %}"{{ im.thumb }}", {% endfor %}
    ];
    var ids = [
        {% for im in images %}"{{ im.id }}", {% endfor %}
    ];
    var captions = [
        {% for im in images %}"{{ im.caption|safe }}",
        {% endfor %}];
    var subCaptions = [
        {% for im in images %}"{{ im.subcaption|safe }}",
        {% endfor %}];
    var dimensions = {
        {% for im in dimensions %}"{{ im.name }}": "{{ im.ratio }}", {% endfor %}
    }

</script>

<section class="thumbnails">
{% for im in images %}
    <article class="thumb">
	    <a onclick="showViewer({{ forloop.counter|add:'-1' }}); return false;" href="/images/nojs?year={{ im.year }}&path={{ im.path }}&thumb={{ im.pos }}">
            <img src="{{ url }}/{{ im.thumb }}-s.webp" alt="{{ im.caption|safe }}, {{ title }}" />
            <p>{{ im.caption|safe }}</p>
            {% if im.subcaption %}
            <p class="subcaption">From: {{ im.subcaption|safe }}</p>{% endif %}
        </a>
    </article>{% endfor %}
</section>

<p class="hint">Hint: you can use the left and right cursor keys to navigate between albums, and between photos when in the photo viewer</p>

<!-- Desktop photo viewer -->
<div id="viewer">
    <div id="viewwindow">
        <photoview>
            <img id="fullsize" src="" draggable="true" />
        </photoview>
        <capregion><div id="caption">{{images.0.caption|safe}}</div></capregion>
        <photoclose><img src="{{ staticServer }}/graphics/close.webp" onclick='hideViewer();' /></photoclose>
    </div>
    <div id="wrapper">
        <section id="strip">
            {% for im in images %}<div><img id="{{ forloop.counter }}-img" src="{{ url }}/{{ im.thumb }}-s.webp" onclick="showImage({{forloop.counter|add:"-1"}});" />{% if im == images.0 %}<div id="{{ forloop.counter }}-marker" class="hilite"></div> {% else %}<div id="{{ forloop.counter }}-marker" class="lolite"></div> {% endif %}</div>{% endfor %}
        </section>
    </div>
</div>

<!-- Mobile photo viewer -->
<div id="mobile_viewer">{% for im in images %}    
    <div class="mphoto" id="mphoto_{{ forloop.counter|add:"-1" }}">
        <img src="" id="{{ im.id }}" height=""/>
        <p>{{ im.caption|safe }}</p>
    </div>{% endfor %}
</div>

<!-- end of class=advert block -->
</div>

<!-- touch/swipe support -->
<script src="/js/touchswipe.js"></script>

<!-- image handling JS -->
<script src="/js/imagehandler.js" ></script>

{% endblock %}