{% extends "base.html" %}

{% block content %}
{% autoescape off %}
{{ body }}
{% endautoescape %}
<h1>Search results</h1>
<p>Results for "{{ query }}". Showing {{ start|add:"1" }} to {{ end }} of {{ total }}</p>
{% include "search/navbar.html" %}
<section class="searchthumbnails">
{% for result in results %}
    <article class="search">
        {% if result.imgs %}
        <a href="{{ result.path }}">
            <div id="fourbox">
            {% for img in result.imgs|split:"," %}
                <img title="search result image" class="tiny" src="{{ result.image }}{{ img }}-s.webp" />
            {% endfor %}
            </div>
        </a>
        <p>{{ result.content|ellipsize }}</p>
        {% else %}
        <a href="{{ result.path }}"><img src="{{ result.image }}" title="search result image"/></a>
        <p>{{ result.content|ellipsize }}</p>
        {% endif %}
    </article>{% endfor %}
</section>
<br />
{% include "search/navbar.html" %}
{{ results.pagenum}}
{% endblock %}
