<!DOCTYPE html>
<head>
  <title>nosher.net</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Arimo|Montserrat');
  </style>
  <link rel="stylesheet" href="//devstatic.nosher.net/nosher2.css" type="text/css" title="default" />
</head>
<body>
  <header>nosher.net</header>
  <nav>
    <ul>
        <li>Photos - ooo</li>
        <li>Archives</li>
    </ul>
  </nav>
  <main>{% block content %}{% endblock %}</main>
  <footer>{%if mtime %}<p>Last updated: {{ mtime }}{% endif %}</footer>
</body>

