{% extends "base.html" %}

{% block content %}

<section class="advert">
    
    {% include "computers/logo.html" %}

    <p class="nav">
        {% include "computers/navbar.html" %}
    </p>
    <h2>From {%if item.source %}{{ item.source }}{% else %}{%if item.type == "channel" %}sales brochure{% else %}Source unknown{% endif %}{% endif %}</h2>
    <div class="zoomer">
      <img src="{{ page_image }}" class="ad" style="aspect-ratio: {{ aspect }};" alt="{{ item.company }} Advert: {{ advert_title|safe }}, from {{ item.source }}, {{ item.year|get_year }}" />
    </div>
    <div class="magicon"><button id="zoom" type="button">🔍 click to zoom</button></div>
    
    <br />  
    <h3>{{ advert_title|safe }}</h3>

    <div class="liner">
    {{ body|safe }}
    </div>

    <p class="updated">Date created: {{ item.date_created|date:"d F Y"  }}{% if mtime %}<br />Last updated: {{ mtime }}{% endif %}</p>

    <p class="navbottom">
        {% include "computers/navbar.html" %}
    </p>
    <p>Hint: use left and right cursor keys to navigate between adverts.</p>
</section>

{% if sources %}
  <h3>Sources</h3>
  <section class="sources">
    {% for source in sources %}
        <a name="{{ forloop.counter }}"></a>
        <div class="source">
            <div class="sourcepos">{{ forloop.counter }}. </div><div class="sourcetext">{{ source|safe }}</div>
        </div>{% endfor %}    
  </section>
{% endif %}

  <p class="copy">Text and otherwise-uncredited photos &copy; nosher.net {{ ""|get_now }}. Dollar/GBP conversions, where used, assume $1.50 to £1. "Now" prices are calculated dynamically using average RPI per year.</p>

  <!-- advert-specific JS -->
  <script>
      var next = "{{ nextany.adid }}";
      var prev = "{{ prevany.adid }}";
  </script>
  <script src="/js/adverthandler.js" ></script>

{% endblock %}

{%block sidebar %}
  {% if related and related|length > 1 %}
    <h4 class="title_sidebar">More adverts from {{ item.company }}:</h4>
    <div class="twogrid">
      {% for rel in related %}
        {% if rel.adid == item.adid %}
        <div class="adthumb_dim">
        {% else %}
        <div class="adthumb">
          <a href="{{ rel.adid|get_first_image }}">            
        {% endif %}
          <img src="{{url}}/images/{{ rel.adid|get_first_image }}-s.webp" alt="Another {{rel.company}} advert, from {{rel.year|get_year}}" /><br />
          {% if rel.adid != item.adid %}</a>{% endif %}
          <span>{{rel.year|get_year_only}}</span>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

