{% extends "base.html" %}

{% block script %}
    <script src="https://static.nosher.net/js/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script type="text/javascript">
    var showing = false;
    function popup_show(event, path) {
        url = "/archives/computers/" + path 
        var w = window.innerWidth;
        var h = window.innerHeight;
        var x = event.clientX + 10;
        const el = document.scrollingElement || document.documentElement 
        var scroll = el.scrollTop
        var y = event.clientY - 10 + scroll
        popup = $("#popup");
        var dw = popup.width();
        var dh = popup.height();
        if (x + dw > w) {
            x = x - dw - 60;
        }
        if (y + dh > h) {
            y = y - dh;
        }
        if (y - dh < scroll) {
            y = y + dh;
        }
        if (!showing) {
            showing = true;
            $(popup).css({top: y + "px", left: x + "px"});
            $(popup).css('visibility', 'visible');
            $(popup).load(url);
        }
    }
    function popup_hide() {
        $("#popup").css('visibility', 'hidden');
        $("#popup").html("");
        showing = false;
    }
    </script>
{% endblock %}

{% block content %}
<div id="popup">.</div>
<h1>{{ title }}</h1>
{% if intro %}
    <p class="intro">{{ intro|safe }}</p>
{% endif %}
<section class="archives">
<p class="nav">{% include "computers/navbar.html" %}</p>
    <p style="margin: 0;">
    Index entry: {% for a in alphas %}<a href="/archives/computers/index/{{a}}">{{a}}</a> {%if not forloop.last%}· {%endif %}{% endfor %}
    </p>
    <p style="margin: 0;">Entries for <b>{{current}}</b>:</p>
    <ul class="catalogue">
    {% for iword, ref in catalogue.items %}
      <li>
      {% if ref|length > 1 %}
        {{iword}} ({% for index in ref%}<a onmouseout="popup_hide();" onmouseover="popup_show(event, '{{index}}.txt?idx={{iword|urlencode}}')" href="/archives/computers/{{index}}?idx={{iword|urlencode}}">{{forloop.counter}}{%if not forloop.last%}, {%endif%}</a>{% endfor %}){%if not forloop.last%}<br /> {%endif%}
      {% else %}
        <a onmouseout="popup_hide();" onmouseover="popup_show(event, '{{ref.0}}.txt?idx={{iword|urlencode}}')" href="/archives/computers/{{ref.0}}?idx={{iword|urlencode}}">{{iword}}</a>{%if not forloop.last%}<br /> {%endif%}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
<p class="nav">
    <a href="/archives/computers/">adverts home</a>
</p>
</section>
{% endblock %}
