{% extends "base.html" %}

{% block script %}
    <script>
    var showing = false;
    function popup_show(event, path, parent) {
        const el = document.scrollingElement || document.documentElement 
        const rect = parent.getBoundingClientRect();
        var url = "/archives/computers/" + path 
        var winWidth = window.innerWidth;
        var winHeight = window.innerHeight;
        var scroll = el.scrollTop
        var x = rect.x;
        var y = rect.y + scroll + (rect.height * 1.1);
        var elw = parent.offsetWidth;
        var elh = parent.offsetHeight;
        var popup = $("#popup");
        var popWidth = popup.width();
        var popHeight = popup.height();
        if (x + popWidth + rect.width + 20 > winWidth) {
            x = x - popWidth;
        }
        if (y - popHeight > winHeight ) {
            y = y - popHeight - rect.height - 30;
        }
        if (!showing) {
            showing = true;
            $(popup).css({top: y + "px", left: x + "px"});
            $(popup).css('visibility', 'visible');
            $(popup).load(url);
        }
    }
    function popup_hide() {
        $("#popup").css('visibility', 'hidden');
        $("#popup").html("");
        showing = false;
    }
    </script>
{% endblock %}

{% block content %}
<div id="popup">.</div>
<h1>{{ title }}</h1>
{% if intro %}
    <p class="intro">{{ intro|safe }}</p>
{% endif %}
<section class="archives">
<p class="nav">{% include "computers/navbar.html" %}</p>
<div class="catindex">
    <p>
    Index entry: {% for a in alphas %}<a href="/archives/computers/index/{{a}}">{{a}}</a> {%if not forloop.last%}· {%endif %}{% endfor %}
    </p>
    <p>Entries for <b>{{current}}</b>:</p>
    <ul class="catalogue">
    {% for iword, ref in catalogue.items %}
      <li>
      {% if ref|length > 1 %}
        {{iword}} <span class="mrefs">({% for index in ref%}<a onmouseout="popup_hide();" onmouseover="popup_show(event, '{{index}}.txt?idx={{iword|urlencode}}', this)" href="/archives/computers/{{index}}?idx={{iword|urlencode}}">{{forloop.counter}}{%if not forloop.last%}, {%endif%}</a>{% endfor %})<span></span>{%if not forloop.last%}<br /> {%endif%}
      {% else %}
        <a href="/archives/computers/{{ref.0}}?idx={{iword|urlencode}}"><span onmouseout="popup_hide();" onmouseover="popup_show(event, '{{ref.0}}.txt?idx={{iword|urlencode}}', this)">{{iword}}</span></a>{%if not forloop.last%}<br /> {%endif%}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
</div>
<p class="nav">
    <a href="/archives/computers/">adverts home</a>
</p>
</section>
{% endblock %}
