{% extends "base.html" %}

{% block content %}
<h1>Adverts by processor(s)</h1>
<p class="nav">{% include "computers/navbar.html" %}</p>
<section class="archives">
  <p>MOS Technology's 6502 and Zilog's Z80 dominated the computer industry from the mid 1970s until the early 1980s - the former as it appeared
  in some of the biggest sellers of the era, like Commodore's VIC-20 and C64 (as the 6510), as well as Nintendo's NES and Famicom, whilst the 
  latter appeared in not just Sinclair's ZX80, ZX81 and ZX Spectrum, but also pretty much every CP/M-based "pop up" business machine that was 
  here one week and gone the next.</p>
  <p>However, there were plenty of other processors around, including those from Intel, which had very much set the scene with the 8080, but 
  which then somewhat dropped the ball until IBM chose its later 8088 for the 5150 PC in 1981.</p>
  <p>This set the course for the eventual domination of Intel in the 16-bit and 32-bit eras from the latter half of the 80s - and for the 
  next couple of decades at least - thanks to the Windows/Intel (Wintel) duopoly.</p>
  <p>Note that some processors are grouped together for simplicity, for instance the Zilog Z80, Z80A and Z80B appear together, as 
  do MOS Technology's 6502, 6502A and 6502B. More significant variants such as the 6512 and 6507- like the 6502 only different - have their own entries.</p>
  {% for bit in bits %}
  <h3>{{bit}}-bit CPUs</h3>
  <ul>
    {% for cpu in cpus %}
      {% if cpu.bits == bit %}
      <li class="cpu">
        <p><a href="/archives/computers/cpus/{{cpu.cpu}}">{{cpu.disp}}</a> <span class="count">({{cpu.count}} advert{%if cpu.count > 1%}s{%endif%})</span>
          {% if cpu.sub%}<br /><span class="cpusub">{{cpu.sub}}</span>{%endif%} 
        </p>
      </li>
      {%endif%}
    {% endfor %}
  </ul>
  {%endfor%}
</section>
<p class="nav">{% include "computers/navbar.html" %}</p>
{% endblock %}
