{% extends "base.html" %}

{% block content %}

<div class="advert">
<h1>Microcomputer Industry Connections - a network family tree</h1>
<p class="nav">{% include "computers/navbar.html" %}</p>
<p>Sometimes, it's a small world.</p>
<p>Psion started out writing software for Sinclair machines, before going on to create the Epoc operating system for 
  its Organiser pocket computers. This then evolved into Symbian, which ended up shipping on countless millions of (mostly) Nokia phones. 
  Acorn started a little side project working on RISC processors, which became ARM - the chip design now on billions of 
  mobile phones. Or see how Elliot and LEO - names from the 1960s - merged into ICL, which in the mid 1980s was managed by 
  Robb Wilmot who also had a hand in Sinclair Research, before he headed off to manage Poqet Computers - a company 
  founded by former employees of the legendary Fairchild Semiconductor, which gave rise to Intel and AMD, amongst others.</p>
<p>These are a few of many sometimes-incestuous connections in the microcomputer industry, which this wiring graph 
  attempts to visualise. Drag the graph around with a mouse or finger, and pinch or use a scroll wheel to zoom in or out.</p>


<!--<a href="{{ staticServer }}/archives/computers/graphs/computers.svg"><img src="{{ staticServer }}/archives/computers/graphs/computers_screenshot.png" style="width: 700px;"/></a>-->


<object class="svg" id="container" id="svg" data="computers.svg" type="image/svg+xml"></object>

{{ index|safe }}

<script>
  
  var shape = document.getElementsByTagName("object")[0];
  var width = shape.width;
  var height = shape.height;
  var svgData;
  var svgDoc;
  var mouseStartPosition = {x: 0, y: 0};
  var mousePosition = {x: 0, y: 0};
  var viewboxStartPosition = {x: 0, y: 0};
  var viewboxPosition = {x: 7740, y: 2238};
  var viewboxSize = {x: 1000, y: 1400};
  var viewboxScale = 1.2;
  var mouseDown = false;
  var oldFill = "";
  var fillCount = 0;
  var timeout;
  var path;

  shape.addEventListener("load",function() {
      svgDoc = shape.contentDocument;
      svgData = svgDoc.getElementById("inner");
      svgDoc.addEventListener("mousemove", mousemove);
      svgDoc.addEventListener("mousedown", mousedown);
      svgDoc.addEventListener("wheel", wheel, {passive: false});
      setviewbox();
  }, false);

  function flipColour() {
    if (fillCount < 40) {
      red = 255 - ((fillCount / 40) * 200);
      path.setAttribute("fill", "#" + (Math.floor(red)).toString(16) + "0000");
      timeout = window.setTimeout(flipColour, fillCount == 1 ? 4000 : 10);
      fillCount++;
    } else {
      path.setAttribute("fill", oldFill);
      fillCount = 0;
    }

    console.log("Path:", path);
  }

  function gosvg(elid, x, y) {
    if (!oldFill == "") {
        path.setAttribute("fill", oldFill);
        oldFill = "";
    }
    var els = svgData.getElementById(elid);
    path = els.getElementsByTagName("path")[0];
    oldFill = path.getAttribute("fill");
    viewboxStartPosition.x = viewboxPosition.x;
    viewboxStartPosition.y = viewboxPosition.y;
    viewboxPosition.x = x - (viewboxSize.x * viewboxScale / 2.0);
    viewboxPosition.y = y - (viewboxSize.y * viewboxScale / 2.0);
    console.log("GoSVG", x, y);
    window.clearTimeout(timeout);
    setviewbox();
    fillCount = 0;
    flipColour();
  }

  function mousedown(e) {
    mouseStartPosition.x = e.pageX;
    mouseStartPosition.y = e.pageY;
    viewboxStartPosition.x = viewboxPosition.x;
    viewboxStartPosition.y = viewboxPosition.y;
    svgDoc.addEventListener("mouseup", mouseup);
    mouseDown = true;
  }

  function setviewbox() {

    var vp = {x: 0, y: 0};
    var vs = {x: 0, y: 0};
    
    vp.x = viewboxPosition.x;
    vp.y = viewboxPosition.y;
    vs.x = viewboxSize.x * viewboxScale;
    vs.y = viewboxSize.y * viewboxScale;
    svgData.setAttribute("viewBox", vp.x + " " + vp.y + " " + vs.x + " " + vs.y);
    console.log("Viewbox: ", vp.x, ", ", vp.y, " scale: ", viewboxScale);
  }

  function mousemove(e) {
    mousePosition.x = e.offsetX;
    mousePosition.y = e.offsetY;
    
    if (mouseDown)
    {
      viewboxPosition.x = viewboxStartPosition.x + (mouseStartPosition.x - e.pageX) * 4 * viewboxScale;
      viewboxPosition.y = viewboxStartPosition.y + (mouseStartPosition.y - e.pageY) * 4 * viewboxScale;

      setviewbox();
    }
    var mpos = {x: mousePosition.x * viewboxScale, y: mousePosition.y * viewboxScale};
    var vpos = {x: viewboxPosition.x, y: viewboxPosition.y};
    var cpos = {x: mpos.x + vpos.x, y: mpos.y + vpos.y}
  }

  function mouseup(e) {
    mouseDown = false;
    svgDoc.removeEventListener("mouseup", mouseup);
  }

  function wheel(event) {
    event.preventDefault();
    var scale = event.deltaY < 1.0 ? 0.8 : 1.2;
    if ((viewboxScale * scale < 12.) && (viewboxScale * scale > 1./3.)) {  
      var mpos = {x: mousePosition.x * viewboxScale, y: mousePosition.y * viewboxScale};
      var vpos = {x: viewboxPosition.x, y: viewboxPosition.y};
      var cpos = {x: mpos.x + vpos.x, y: mpos.y + vpos.y}

      viewboxPosition.x = (viewboxPosition.x - cpos.x) * scale + cpos.x;
      viewboxPosition.y = (viewboxPosition.y - cpos.y) * scale + cpos.y;
      viewboxScale *= scale;
      setviewbox();
      return false;
    }
  }
</script>

<h3>Legend</h3>

<div class="legend">
  <div class="box" style="background-color: #aa3690;">Hub Companies</div> <div class="def">Highly-connected "hubs" - these are Commodore, Sinclair and Acorn</div>
  <div class="box" style="background-color: #9b8443">Other companies</div> <div class="def">Microcomputer and associated companies</div>
  <div class="box" style="background-color: #939cb0">Products</div> <div class="def">Significant or influential products</div>
  <div class="box" style="background-color: #d78900">Processors</div> <div class="def">Significant or influential processors</div>
  <div class="line" style="background-color: #00a000"></div><div class="def">Founding events</div>
  <div class="line" style="background-color: #a00000"></div><div class="def">Product connections</div>
  <div class="line" style="background-color: #000000"></div><div class="def">Take-overs/aquisitions</div>
  <div>dotted lines</div><div class="def">Other connections</div>
  <div>ⓘ</div><div class="def">Hover your mouse over these for more information</div>
</div>

<h3>Controversy</h3>
<p>Some may wonder why Apple isn't considered as a hub, given its hagiographic status in the early microcomputer industry. Well, although it liked to claim that it was the top-selling and most-influential manufacturer, it wasn't, and whilst it did posess the computer that many companies wanted to clone, thanks to the large amount of business software available for it - the Apple II - it otherwise appeared as quite insular. Few people seemed to leave it to start other companies, apart from its founders (and one of those was forced out) and in the period from 1977 to the end of the 1980s it didn't seem to buy up any other companies - or if it did, there were no press releases about it. Also, over the same period it only produced four products of note (although two of them were reasonably influential) - Apple II, Apple III, Lisa and Macintosh.</p>
</div>

<p class="nav">{% include "computers/navbar.html" %}</p>
{% endblock %}
