{% extends "base.html" %}

{% block content %}
<div class="advert">

{% include "computers/logo.html" %}

{% if intro %}
    {{ intro|safe }}
{% endif %}
<p class="nav">{% include "computers/navbar.html" %}</p>
<section class="archives">
{% for item in items %}
    <archiveitem>
        <archivethumb>
            <a href="{{ item.adid }}"><img src="{{ url }}/images/{{ item.adid }}-s.webp" alt="{{ item.company }} advert thumbnail" title="{{ item.company }} advert thumbnail" /></a>
        </archivethumb>
        <archivedescription data-company="{{ item.company }}">
            {% if isFiltered is False %}<h3>{{ item.company }}</h3>{% endif %}
            <h4 class="year">{{ item.year|get_year }}</h4>
            <a href="{{ item.adid }}">
                <p class="title">{{ item.summaryTitle }}</p>
                <p class="summary">{{ item.summary }}</p>
            </a>
        </archivedescription>
    </archiveitem>
{% endfor %}
</section>
<p class="navbottom">{% include "computers/navbar.html" %}</p>
</div>
{% endblock %}
