{% extends "base.html" %}

{% block content %}
<h1>Adverts featuring {{ model }}</h1>
<p class="nav">{% include "computers/navbar.html" %}</p>

<section class="archives">
  <div id="yearindex">
      {% for ad in ads %}
          <div>
          <a href="/archives/computers/{{ad.getPrimary}}"><img src="{{url}}/images/{{ad.adid|get_first_image}}-s.webp" /></a><br />
          {{ad.year|get_year}}
          </div>
      {% endfor %}
      </div>
</section>
<br />
<p class="nav">{% include "computers/navbar.html" %}</p>
{% endblock %}
