<!DOCTYPE html>
<html lang="en-GB">
<head>
  <script>0</script> <!-- workaround for FOUC errors on FF -->
  <title>nosher.net {% if page_title %} - {{ page_title }}{% endif %}</title>
  <meta name="description" content="{{ page_description }}" />
  <meta property="og:site_name" content="nosher.net" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:url" content="{{ page_url }}" />
  <meta property="og:image" content="{{ page_image }}" />
  <meta property="og:description" content="{{ page_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ staticServer }}/nosher2.css" title="default">
  <link rel="shortcut icon" href="https://static.nosher.net/images/nn.png">
  {% block script %}{% endblock %}
</head>

<body id="mainbody" class="body">
  <script src="https://static.nosher.net/js/jquery-3.3.1.min.js" 
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
    crossorigin="anonymous"></script>
  <div class="navlite">
    <a href="/">Home</a> | 
    <a href="/images/">Photos</a> | 
    <a href="/archives/computers/">Micro history</a> | 
    <a href="/content/raf69th/">RAF 69th</a> | 
    <a href="/content/ajo/">The AJO</a> | 
    <a href="/content/saxonhorse/">Saxon horse</a> | 
    <a href="#navigation"><nobr>more ▼</nobr></a>
  </div>
  <header id="header"><p>nosher.net</p></header>
  <nav>
    {% include "navigation.html" %}
  </nav>
  <main id="cmain">{% block content %}{% endblock %}</main>
  <sidebar>{% block sidebar %}{% endblock %}</sidebar>
  <footer id="footer">
    <p>{%if feedback %}Feedback: {{ feedback }}<br />{% endif %}&copy; nosher.net 1999-{{ ""|get_now }}{%if mtime %}. Last updated: <nobr>{{ mtime }}</nobr>{% endif %}
    </p>
  </footer>
  <script>
    // prevent space keypress from bubbling up and triggering "next page"
    $("#query").keydown(function(event) {
        if (event.which == 32) { 
            event.stopPropagation();
        }
    });
  </script>
</body>
</html>
