<!DOCTYPE html>
<head>
  <meta property="og:site_name" content="nosher.net" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:image" content="{{ page_image }}" />
  <meta property="og:description" content="{{ page_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>nosher.net {% if page_title %} - {{ page_title }}{% endif %}</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="https://static.nosher.net/images/nn.png">
  <link rel="stylesheet" type="text/css" href="//devstatic.nosher.net/nosher2.css" title="default" />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Arimo|Montserrat');
  </style>
  {% block script %}{% endblock %}
</head>
<body class="body">
  <header><p>nosher.net</p></header>
  <nav>
    <ul>

        <!-- home -->

        <li><a href="/">Home</a>
        <p class="navlink"></p>
        </li>

        <!-- photos -->

        <li><a href="/images/">A life in photos</a>
        <p class="navlink">
        {% for year in years %}
            <nobr><a href="/images/{{ year.year }}">{{ year.year }} <span>[{{ year.count }}]</span></a>{%if not forloop.last%}, &nbsp;{%endif%}</nobr>
        {% endfor %}
        </p>
        </li>

        <!-- computer adverts -->

        <li><a href="/archives/computers/">A history of the microcomputer industry in 300 adverts</a>
        <p class="navlink">
        {% for company in companies %}
          {% if company.company != "" %}
            {% if company.total == 1 %} 
              {% if company.company|length < 30 %}<nobr>{% endif %}<a href="/archives/computers/{{ company.company|get_first_advert }}">{{ company.company }} <span>[{{ company.total }}]</span></a>{%if not forloop.last%}, &nbsp;{%endif%}{% if company.company|length < 30 %}</nobr>{% endif %}
            {% else %}
              {% if company.company != "" %}
              {% if company.company|length < 30 %}<nobr>{% endif %}<a href="/archives/computers/?type=source&value={{ company.company }}">{{ company.company }} <span>[{{ company.total }}]</span></a>{%if not forloop.last%}, &nbsp;{%endif%}{% if company.company|length < 30 %}</nobr>{% endif %}
              {% endif %}
            {%endif%}
          {% endif %}
        {% endfor %}
        </p>
        </li>

        <!-- Saxon horse -->

        <li><a href="/content/saxonhorse/">The Saxon Horse burial at Eriswell</a>
        </li>

        <!-- search -->
        <li>
        <p class="navlink">
            <form action="/search" method="get">
            <input id="query" type="text" value="{{ query }}" name="q" maxlength="100" class="stext" required />
            <input type="submit" value="Search" class="sbutton" />
            </form>
        </p>
        </li>
    </ul>
  </nav>
  <main>{% block content %}{% endblock %}</main>
  <footer><p>&copy; nosher.net 1999-{{ ""|get_now }}{%if mtime %}. Last updated: <nobr>{{ mtime }}</nobr>{% endif %}</p></footer>
</body>

